h1,
p,
a,
h2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/*HEADER*/

header {
  display: flex;
  align-items: flex-end;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

#logo {
  font-weight: 600;
  font-size: 5rem;
  color: red;
  margin: 0;
  padding-left: 2rem;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

li {
  margin-left: 10rem;
}

a {
  color: red;
}

/*media quaries HEADER*/

@media screen and (max width: 639.2px) {
}

/*MAIN*/

.main-img {
  width: 50%;
}

/*PRODUCTS*/

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.product-image {
  width: 100%;
  height: auto;
}

/*RECIPE PAGE*/

.recipe-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.recipe-image {
  width: 100%;
  height: auto;
}

/*CITY-GUIDE PAGE*/

.city-guide-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

.city-guide-image {
  width: 100%;
  height: auto;
}
