/* REMOVES THE UNDERLINES FROM CLICKABLE TEXT */
a {
  text-decoration: none;
}

h1,
p,
a,
h2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/*HEADER*/

header {
  display: flex;
  align-items: flex-end;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

#logo {
  font-weight: 600;
  font-size: 5rem;
  color: red;
  margin: 0;
  padding-left: 2rem;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

li {
  margin-left: 10rem;
}

a {
  color: red;
}

/*media queries HEADER*/

@media screen and (max-width: 1400px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }

  li {
    margin-left: 2.4rem;
    margin-bottom: 1rem;
  }
}

/*INDEX PAGE*/

.main-image {
  width: 100%;
}

.main-image-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
}

/*container for the text on the images*/
.image-container {
  display: grid;
}

.main-image {
  width: 100%;
  grid-area: 1 / 1;
}

/* text on top of images */
.image-text {
  grid-area: 1 / 1;
  justify-self: center;
  align-self: center;

  color: white;
  font-size: 2.5rem;
  font-weight: 600;
}

/*PRODUCTS*/

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.product-image {
  width: 100%;
  height: auto;
}

/*MEDIA QUERIES FOR PRODUCTS PAGE*/

/* 3 columns */
@media screen and (max-width: 1200px) {
  .products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}

/*2 columns */
@media screen and (max-width: 842px) {
  .products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

/* 1 column */
@media screen and (max-width: 600px) {
  .products-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
  }
}

/*RECIPE PAGE*/

.recipe-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.recipe-image {
  width: 100%;
  height: auto;
}

/* MEDIA QUEIRIES FOR RECIPE PAGE */

/* 2 columns */
@media screen and (max-width: 1100px) {
  .recipe-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

/* 1 column */
@media screen and (max-width: 630px) {
  .recipe-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}

/*CITY-GUIDE PAGE*/

.city-guide-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.city-guide-image {
  width: 100%;
  height: auto;
}

/* MEDIA QUERIES CITY-GUIDES PAGE */

/* 2 columns */
@media screen and (max-width: 900px) {
  .city-guide-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}

/* 1 column */
@media screen and (max-width: 550px) {
  .city-guide-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}

/* PRODUCT PAGE (COFFEE-DRIPPER) */

.product-page {
  display: flex;
  grid-template-columns: 1fr;
  align-items: flex-start;
  gap: 3rem;
  margin-top: 3rem;
  padding: 0 2.4rem;
}

.product-image-dripper {
  width: 100%;
  max-width: 31.25rem;
  height: auto;
}

.product-info {
  max-width: 31.25rem;
}

p {
  color: gray;
}

h1 {
  color: red;
}

.add-to-cart {
  margin-top: 1.5rem;
  padding: 0.8rem 1.4rem;
  border: none;
  background: red;
  color: white;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.add-to-cart:hover {
  background: darkred;
}

/* MEDIA QUERIES PRODUCT PAGE (COFFEE-DRIPPER) */

@media screen and (max-width: 715px) {
  .product-page {
    flex-direction: column;
  }
}

/*BLOG PAGE*/

.blog-page {
  display: flex;
  grid-template-columns: repeat(1, 1fr);
  flex-direction: column;
  gap: 3rem;
  margin-top: 3rem;
  padding: 0 2.4rem;
}

.blog-post {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.blog-image {
  width: 11rem;
  height: auto;
}

.blog-page figure {
  margin: 0;
}

.image-info {
  max-width: 400px;
}

/* MEDIA QUERIES for BLOG PAGE */

@media screen and (max-width: 715px) {
  .blog-post {
    flex-direction: column;
    align-items: flex-start;
  }

  .blog-image {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
}
